.jumbotron {
	height: 100vh;
	background-image: url("../img/boardgames.jpg");
	background-repeat: none;
	background-size: cover;
}

.container2 {
	background-color: rgba(211,211,211, 0.75);
	/*opacity: 0.75;*/
	padding: 20px;
}

.container2:hover{
	background-color: rgba(211,211,211, 1);
}